<div class='row'>
  {{#if author}}
    <div class='col-xlg-3 col-md-6 col-12 mb-30'>
      <div class='top-report'>
        <div class='head'>
          <h4>تعداد مطالب</h4>
          <span class='view'><i class='ti-pencil-alt'></i></span>
        </div>
        <div class='content'>
          <h2>{{totalPosts}}</h2>
        </div>
      </div>
    </div>
    <div class='col-xlg-3 col-md-6 col-12 mb-30'>
      <div class='top-report'>
        <div class='head'>
          <h4>تعداد دیدگاه ها</h4>
          <span class='view'><i class='ti-comments'></i></span>
        </div>
        <div class='content'>
          <h2>{{totalComments}}</h2>
        </div>
      </div>
    </div>
  {{else}}
    <div class='col-xlg-3 col-md-4 col-12 mb-30'>
      <div class='top-report'>
        <div class='head'>
          <h4>تعداد کاربران</h4>
          <span class='view'><i class='ti-user'></i></span>
        </div>
        <div class='content'>
          <h2>{{totlaUsers}}</h2>
        </div>
      </div>
    </div>
    <div class='col-xlg-3 col-md-4 col-12 mb-30'>
      <div class='top-report'>
        <div class='head'>
          <h4>تعداد مطالب</h4>
          <span class='view'><i class='ti-pencil-alt'></i></span>
        </div>
        <div class='content'>
          <h2>{{totalPosts}}</h2>
        </div>
      </div>
    </div>
    <div class='col-xlg-3 col-md-4 col-12 mb-30'>
      <div class='top-report'>
        <div class='head'>
          <h4>تعداد دیدگاه ها</h4>
          <span class='view'><i class='ti-comments'></i></span>
        </div>
        <div class='content'>
          <h2>{{totalComments}}</h2>
        </div>
      </div>
    </div>
  {{/if}}
</div>
<div class='row mbn-30'>
  <div class='col-xlg-4 col-lg-12 col-12 mb-30'>
    <div class='box'>
      <div class='box-head'>
        <h4 class='title'>آخرین دیدگاه ها</h4>
      </div>
      <div class='box-body'>
        <div class='table-responsive'>
          <table class='table daily-sale-report'>
            <thead>
              <tr>
                {{#if areThereAnyComments}}
                  <th>#</th>
                  <th>کاربر</th>
                  <th>ایمیل</th>
                  <th>دیدگاه</th>
                  <th>در پاسخ به</th>
                  <th>ارسال شده</th>
                {{/if}}
              </tr>
            </thead>
            <tbody>
              {{#if areThereAnyComments}}
                {{#each latestComments}}
                  <tr>
                    <td>{{inc @index}}</td>
                    <td class='fw-600'>{{this.user_name}}</td>
                    <td class='fw-600'>{{this.user_email}}</td>
                    <td>
                      <p>{{this.comment}}</p>
                    </td>
                    <td class='fw-600'>{{this.title}}</td>
                    <td class='fw-600'>{{this.created_at}}</td>
                  </tr>
                {{/each}}
              {{/if}}
              {{#unless areThereAnyComments}}
                <p>در حال حاضر هیچ دیدگاهی برای نمایش وجود ندارد</p>
              {{/unless}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>