{{>header}}
<section class='section-gap section-top pb-0 bg-white text-center'>
  <div class='container'>
    <div class='row justify-content-md-center align-items-center'>
      <div class='col-md-7'>
        <h2 class=''>
          ูุจูุงฺฏ ู ููุงูู
        </h2>
        <p class='lead text-muted'>
          ฺฉูุงุจ ฺฉ ุงุจุฒุงุฑ ูุฏุฑุชููุฏ ุจุฑุง ุณุงุฎุช ู ูุฏุฑุช ูุจูุงฺฏ ุงุณุช ู ุจู ุดูุง ฺฉูฺฉ ูฺฉูุฏ ุชุง ุจุง ุณุฑุนุช ู ุณูููุช ุงุทูุงุนุงุชุ ุฎุงุทุฑุงุชุ ูุทุงูุจ ู ููุงูุงุช ุฎูุฏ ุฑุง ุฏุฑ ุงูุชุฑูุช ููุชุดุฑ ฺฉูุฏ.
        </p>
      </div>
      <div class='col-md-8'>
        <img src='/static/assets/img/blog/blog-banner.jpg' alt='' />
      </div>
    </div>
  </div>
</section>
<section class='section-gap'>
  <div class='container'>
    <div class='row justify-content-between'>
      <div class='col-lg-4'>
        {{>searchSidebar }}
      </div>
      <div class='col-lg-8'>
        {{#if showPosts}}
          {{#each posts}}
            <div class='blog-post'>
              <h3 style="margin-bottom:2rem;"><a href='/p/{{this.slug}}'>{{this.title}}</a></h3>
              <a href='/p/{{this.slug}}'><img class='blog-image rounded' src='/static/upload/thumbnails/{{this.thumbnail}}' alt='card image' /></a>
              <div class='meta font-lora my-4'>
                  <div class='user-wrapper'>
                    <div class='avatar'>
                      <img src='/static/upload/avatars/{{this.user_avatar}}' alt='' />
                    </div>
                    <div class='info'>
                      <span>{{this.full_name}}</span> 
                      <span>{{this.created_at}}</span>
                    </div>
                  </div>
              </div>
              <p>{{{this.excerpt}}}</p>
            </div>
          {{/each}}
        {{else}}
          <h4>ูุชุงุณูุงูู ูฺ ูุทูุจ ุงูุช ูุดุฏ ๐ข</h4>
        {{/if}}
      </div>
    </div>
  </div>
</section>