<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <title>weblog project</title>
    <meta name='robots' content='noindex, follow' />
    <meta name='description' content='' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <!-- styles -->
    <link rel='stylesheet' href='/static/assets/css/vendor/bootstrap.min.css' />
    <link rel='stylesheet' href='/static/assets/css/vendor/themify-icons.css' />
    <link rel='stylesheet' href='/static/assets/css/helper.css' />
    <link rel='stylesheet' href='/static/assets/css/style.css' />
    <link id='cus-style' rel='stylesheet' href='/static/assets/css/style-primary.css' />
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.1/ckeditor.js'
      integrity='sha512-Ooi9IbjM2SIDjQ02ENbPFuuORT8F8Rc+rowcYfLneDwKRxw1+gVVj5tciVmV/APnA/Ys+qy1MbNKK3k2EaAHcw=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>
  </head>
  <body dir='rtl'>
    <div class='main-wrapper'>
      <div class='header-section'>
        <div class='container-fluid'>
          <div class='row justify-content-between align-items-center'>
            <div class='header-logo col-auto'>
              <a href='/admin/dashboard'>
                <img src='/static/assets/images/logo/logo.png' alt='' />
              </a>
            </div>
            <div class='header-right flex-grow-1 col-auto'>
              <div class='row justify-content-between align-items-center'>
                <div class='col-auto'>
                  <div class='row align-items-center'>
                    <div class='col-auto'>
                      <button class='side-header-toggle'><i class='ti-menu'></i></button>
                    </div>
                  </div>
                </div>
                <div class='col-auto'>
                  <ul class='header-notification-area'>
                    <li class='adomx-dropdown col-auto'>
                      <a class='toggle' href='#'>
                        <span class='user'>
                          <span class='avatar' style='width: 3.2rem'>
                            {{#if showFallbackImage}}
                              <img src='/static/assets/images/error/fallback-image.jpg' alt='' />
                            {{else}}
                              <img src='/static/upload/avatars/{{currentUser.user_avatar}}' alt='' />
                            {{/if}}
                            <span class='status'></span>
                          </span>
                          <span class='name'>{{currentUser.full_name}}</span>
                        </span>
                      </a>
                      <div class='adomx-dropdown-menu dropdown-menu-user'>
                        <div class='head'>
                          <h5 class='name'><a href='#'>{{currentUser.full_name}}</a></h5>
                          <a class='mail' href='#'>{{currentUser.email}}</a>
                        </div>
                        <div class='body'>
                          <ul>
                            <li>
                              <a href='/admin/users/edit/{{currentUser.id}}'><i class='zmdi zmdi-account'></i>پروفایل</a>
                            </li>
                          </ul>
                          <ul>
                            <li>
                              <a href='/logout'><i class='zmdi zmdi-lock-open'></i>خروج</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='side-header show'>
        <button class="side-header-close"><i class="ti-close"></i></button>
        <div class='side-header-inner custom-scroll'>
          <nav class='side-header-menu' id='side-header-menu'>
            <ul>
              {{#if isAuthor}}
                <li>
                  <a href='/admin/dashboard'><i class='ti-home'></i> <span>داشبورد</span></a>
                </li>
                <li>
                  <a href='/admin/posts'><i class='ti-pencil-alt'></i> <span>مطالب من</span></a>
                </li>
                <li>
                  <a href='/admin/comments'><i class='ti-comments'></i> <span>دیدگاه ها</span></a>
                </li>
                <li>
                  <a href='/'><i class='ti-eye'></i> <span>مشاهده بلاگ</span></a>
                </li>
              {{else}}
                <li>
                  <a href='/admin/dashboard'><i class='ti-home'></i> <span>داشبورد</span></a>
                </li>
                <li>
                  <a href='/admin/posts'><i class='ti-pencil-alt'></i> <span>مطالب</span></a>
                </li>
                <li>
                  <a href='/admin/comments'><i class='ti-comments'></i> <span>دیدگاه ها</span></a>
                </li>
                <li>
                  <a href='/admin/users'><i class='ti-pencil-alt'></i> <span>کاربران</span></a>
                </li>
                <li>
                  <a href='/'><i class='ti-eye'></i> <span>مشاهده بلاگ</span></a>
                </li>
              {{/if}}
            </ul>
          </nav>
        </div>
      </div>
      <div class='content-body'>
        {{{body}}}
      </div>
    </div>
    <script src='/static/assets/js/vendor/jquery-3.3.1.min.js'></script>
    <script src='/static/assets/js/vendor/popper.min.js'></script>
    <script src='/static/assets/js/vendor/bootstrap.min.js'></script>
    <script src='/static/assets/js/plugins/perfect-scrollbar.min.js'></script>
    <script src='/static/assets/js/main.js'></script>
    <script>
      CKEDITOR.replace( 'content',{ language:"fa" } );
    </script>
  </body>
</html>